@import 'tailwindcss';
:root {
    --colorBG:#24211F;
    --headerFsize:14px;
    --headerFlineHig:20px;
    --headerNavTxtCase:uppercase;
}

body{
    background-color: #24211F;
}

.header-nav-txt{

    font-size: var(--headerFsize);
    line-height: var(--headerFlineHig);
    text-transform: var(--headerNavTxtCase);
    color: white;
    background-color: black;
}.header-nav-txt li{
    margin-left: 32px;
}